body {
}

.container {
  width: 90%;
  margin: 100px 50px 0px 50px;
}

.summary {
  height: 40%;
}

.default-image {
  width: 25%;
  height: 25%;
}

.summary-image {
  width: 30%;
  float: left;
}

.summary-info {
  width: 70%;
  float: left;
  font-size: 150%;
}

.switch-comment {
  font-size: 80%;
}

img.switch-image {
  width: 100%;
  height: 100%;
  margin: 0 auto;
}

.switch-name {
  font-size: 150%;
  margin: 20px;
}

.switch-price {
  font-size: 200%;
}

.right {
  text-align: right;
}

.switch-detail {
  clear: left;
  margin: 60px auto;
}

dl{
  width: 50%;
  display:flex;
  flex-wrap: wrap;
  border: 1px solid #ccc;
  border-top: none;
}

dt{
  background: #ddd;
  width: 80%;
  padding: 10px;
  box-sizing: border-box;
  border-top: 1px solid #ccc; 
}

dd{
  padding: 10px;
  margin: 0;
  border-left: 1px solid #ccc;
  border-top: 1px solid #ccc; 
  width: 20%;
  background: #fff;
  box-sizing: border-box;
}

@media screen and (max-width: 320px) {
  dl{
    flex-flow: column nowrap;
  }
  dt,
  dd{
    width: 60%;
  }
  dd{
    border-left: none;
  }
}

.debug {
  color: white;
}
